header {
    text-align: center;
    padding: 20px;
    background-image: url('../../assets/images/backroundImgs/headerBackground.jpg');
    background-size: cover;
    border-radius: 25px 25px 25px 25px;
    box-shadow:  0px 0px 10px #d8d7e9;
}

.title {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: block;
    position: relative;
    font-size: 40px;
    background: linear-gradient(to bottom,  #404177 0%,#531a54 50%, #ac4ab6 51%,#d8d7e9 100%);
    background-blend-mode: multiply;
    background-size: 100%;
    background-repeat: repeat;
    line-height: 1;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title:hover {
    text-shadow:  0px 0px 20px #d8d7e9;
}

a {
    text-decoration: none;
}