header {
    text-align: center;
    padding: 30px;
    background-image: url('../../assets/images/backroundImgs/headerBackground.jpg');
    background-size: cover;
}

.title {
    margin-left: 35%;
    margin-right: 35%;
    display: block;
    position: relative;
    font-size: 40px;
    background: linear-gradient(to bottom,  #d8d7e9 0%,#ac4ab6 50%, #531a54 51%,#404177 100%);
    background-blend-mode: multiply;
    background-size: 100%;
    background-repeat: repeat;
    line-height: 1;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title:hover {
    transform: scale(1.5);
    background: linear-gradient(to bottom,  #404177 0%,#531a54 50%, #ac4ab6 51%,#d8d7e9 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a {
    text-decoration: none;
}